body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.upper_level {
    justify-content: center;
    width: auto;
    background-color: #35b8be;
    padding: 5px;
    color: rgb(17, 41, 119);
    display: flex;
}

.order {
    color: white;
    text-decoration: none;
}

.nav_bar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.side_log img {
    text-align: left;
    padding: 10px;
    width: 51px;
    height: 54px;
    margin-top: 20px;
}

.other_option {
    display: flex;
    margin: 15px;
    padding: 10px;
}

.other_option a {
    text-decoration: none;
    margin: 10px;
    color: rgba(0, 0, 0, 0.575);
}

.heading {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.left_heading h1{
    font-size: 4rem;
} 

.color-change{
    color: #35b8be;
}

.btn{
    margin-top: 30px;
    padding: 20px;
    background-color: #80cdd1;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.left_heading img{
    display: block;
    margin-top: 30px;
}